  <div class="search-genre col-md-2 p-0 w-100">
    <table class="table table-borderless">
      <thead class="text-center">
        <tr>
          <th class="fixed">ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |t| %>
        <tr>
          <td><%= t.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>