/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.page-name{
  font-size:24px;
}
html, body{
  height:100%;
}

header{
  height:17%;
}

nav{
  height:100%;
  border:1px solid black;
}

body{
  margin:5px;
}


.nav-logo{
  font-size:30px;
  padding:10px 50px;
  border:1px solid black;
}

main{
  padding:30px;
  height:85%;
  border-left:1px solid black;
  border-right:1px solid black;
}

.nav-item{
  width:105px;
  padding:3px 0;
  border-radius:3px;
  margin-right:20px;
}

.link-item .nav-item:last-child{
  margin-right:0;
}

.serch-button{
  width:230px;
  height:32px;
}

footer{
  height:80px;
  border:1px solid black;
}

.search-genre{
  width:200px;
  height:400px;
  border:1px solid black;
}

.search-genre table{
  position:relative;
}

.search-genre table thead{
  border-top:0;
}

.search-genre table tr:first-child th{
  background-color:white;
  position:sticky;
  top:0;
  border-bottom:1px solid black;
  padding:0;
}

.search-genre table tr:last-child td{
  border-bottom:0;
}