// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer-deta table tr td,
.customer-deta table tr th {
  border:2px solid black;
}

.customer-deta table tr th {
  background-color:whitesmoke;
}

.my-page-text {
  display:flex;
  align-items:center;
}

.confirm{
  margin-top:130px;
}

.confirm-method{
  width:150px;
}